{% extends "base.project.html.twig" %}

{% block title %}Project MVC VT24{% endblock %}

{% block body %}
<main class="main project">
    <header class="headerMe">
        <h2>En kort</h2>
    </header>
    <fig>
        <img src="{{ asset(url) }}" width="80">
    </fig>
    
</main>
{% endblock %}