{% extends "base.html.twig" %}

{% block title %}Fransk-engelsk kortspel{% endblock %}

{% block body %}
<main class="main cort">
    <header class="headerMe">
        <h2>Fransk-engelsk kortspel</h2>
    </header>
    <p>Den fransk-engelska kortleken 채r den vanligaste typen av kortlek. 
    Med denna lek spelas de flesta k채nda kortspel. Du kan l채sa mera om dessa kortspel i <a href="https://sv.wikipedia.org/wiki/Fransk-engelsk_kortlek"> Wikipedia</a>
    </p>
    
    <p>Statrta spel</p>
    <p><a href="{{ path('me') }}">Det 채r jag</a></li>
    </p>
</main>
{% endblock %}