{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
<main class="main routers">
    <header class="headerMe">
        <h2>All routers</h2>
    </header>
    <table class="router">
        <tr class='th'>
            <th>Namn</th>
            <th>Path</th>
            <th>Controller</th>
            <th>Funktion</th>
        </tr>
        {% for route in data %}
        {% if route.custom_annotation %}
            <tr>
                <td>{{ route.name }}</td>
                <td>{{ route.path }}</td>
                <td>{{ route.controller }}</td>
                <td>{{ route.custom_annotation }}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
</main>
{% endblock %}