{% extends "base.html.twig" %}

{% block title %}Api-quote{% endblock %}

{% block body %}
<main class="main citat">
    <header class="headerMe">
        <h2>Dagens citat-sida</h2>
    </header>
    <p class="quote">Dagens ciatat är: <br> {{ quote }} </p>
</main>
{% endblock %}