{% extends "base2.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<header class="headerMe">
<h2>Games</h2>
</header>
<p>This is a page linking you to different games.</p>
<p>Back to <a href="{{ path('me') }}"> 'This is me'.</p>

{% endblock %}
