{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<main class="mainreport">
    <header class="headerMe">
        <h2 class="h1">Reportsidan för kurs MVC</h2>
        
    </header>
    <div class="link">
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
            <li><a href="#kmom07-10">kmom07 - Kmom10</a></li>
        </ul>
    </div>
    <div class="report">
       <h2 class="kmom" id="#kmom01">kmom01</h2>
       <h2 class="kmom" id="#kmom02">kmom02</h2>
       <h2 class="kmom" id="#kmom03">kmom03</h2>
       <h2 class="kmom" id="#kmom04">kmom04</h2>
       <h2 class="kmom" id="#kmom05">kmom05</h2>
       <h2 class="kmom" id="#kmom06">kmom06</h2>
       <h2 class="kmom" id="#kmom07-10">kmom07 - kmom10</h2>
    </div>
</main>

    
{% endblock %}