{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<main class="mainreport">
    <header class="headerMe">
        <h2 class="h1">Reportsidan för kurs MVC</h2>
        
    </header>
    <div class="link">
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
            <li><a href="#kmom07-10">kmom07 - Kmom10</a></li>
        </ul>
    </div>
    <div class="report">
        <h2 class="kmom" id="#kmom01">kmom01</h2>
        <p>
            Det är första moment i kurs MVC. Kursen handlar om objektorienterande programmering in PHP. Det är redan fjärde programmerings språk där jag lär objektorienterande sätt att programmera. Jag gjorde det med Java, Python, JavaScript. Så objektorienterande programmering är inte något nytt för mig. 
        </p>
        <p>
            Objekt är en instans av en klass. Varje klass har egenskaper (variabler och kanske konstanter) och metoder (funktioner). Klass oftast har en konstruktör, som definierar egenskaper av skapande objekt. Sedan objekt kan funktionera med hjälp av metoder.
        </p>
        <p>
            Båda egenskaper och metoder kan vara publika. Publik metod eller variabel kan uppropas utifrån klassen. Variabler och egenskaper kan vara privata. I så fall de kan inte uppropas utanför klassen och ”icke synbara”. Det finns möjlighet att använda ”protected” visibilitet. Dessa metoder och egenskaper kan användas av både klassen och deras subklasser.
        </p>
        <p>
            Artikeln ”PHP The Right Way” innehåller många användbara tips och mycket informativt. Den hjälpte mig att förstå vad gör jag under övningen. Och jag läste lite mera om klasser i PHP och kodstandarter.
        </p>
        <p>
            I kmom01 börjar vi att bygga projekt med hjälp av källkodsramverk ” Symfony”. Symfony tillåter att dela koden i olika komponenter. Det hjälper med att dela koden i mindre moduler och att redigera den.
        </p>
        
        <h2 class="kmom" id="#kmom02">kmom02</h2>
        <h2 class="kmom" id="#kmom03">kmom03</h2>
        <h2 class="kmom" id="#kmom04">kmom04</h2>
        <h2 class="kmom" id="#kmom05">kmom05</h2>
        <h2 class="kmom" id="#kmom06">kmom06</h2>
        <h2 class="kmom" id="#kmom07-10">kmom07 - kmom10</h2>
    </div>
</main>

    
{% endblock %}