{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
 <main class="main json">
    {{ include('flash.html.twig') }}
    <header class="headerMe">
        <h2 class="h1">Json Controllers</h2>
    </header>
    <div class="json">
      {{ include('json.routers.html.twig') }}
    </div>
</main>
    
{% endblock %}