
{% extends "base_card.html.twig" %}

{% block title %}Fransk-engelsk kortspel{% endblock %}

{% block main %}

<h2>Här ser du kortet.</h2>

<ul class="kort">
    <li class='{{color}}'>{{ cardString }}</li>
</ul>

<p><a href="{{ path('debug_cardplay') }}">Debug korstspel</a></p> 

{% endblock %}
