body {
    background-color: #d5dfe2;
    display: grid;
    grid-template-rows: 270px 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    margin: 0;
    padding: 0;
}

@import 'header.css';
@import 'main.css';
@import 'lucky.css';
@import 'game.css';
@import 'json.css';
@import 'div-i-main.css';
@import 'ul-i-main.css';
@import 'li-i-main.css';
@import 'form.css';
@import 'flash.css';
@import 'fig-i-main.css';
@import 'h-i-main.css';
@import 'aside.css';
@import 'footer.css';

@import 'proj.css';

li:hover {
    background-color: antiquewhite;
    opacity: 0.3;
}
