main.api ul.desk {
    grid-column: span 2;
    display: inline;
}

main.api ul.desk,
main.game ul.desk,
main.game ul.kort,
main.game h4 {
    grid-column: span 2;
}

main.api ul.desk,
main.game ul.desk,
main.game ul.hand {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(20, auto);
    grid-template-rows: auto;
    grid-gap: 10px;
}
