{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="library">
    <form class="book" method="post" action="{{ path('create_book') }}">
   
        <label for="title">Books title:</label>
        <input type="text" name="title" value="">
        
        <label for="isbn">Books ISBN:</label>
        <input type="text" name="isbn" value="">
        
        <label for="author">Books forfattare:</label>
        <input type="text" name="author" value="">
        
        <label for="cover">Bild på book:</label>
        <input type="url" name="cover" value="">

        <input type="submit" name="do_it" value="Add book">
    </form>
</main>
{% endblock %}