{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="library">
    <h2>TA bort en book</h2>
    <p>Ange id för book som du vill ta bort from biblioteken</p>
    <form class="book" method="post" action="{{ path('delete_book') }}">
        <label for="id">Books id:</label>
        <input type="number" name="id" value="0" min ="0">
        <input type="submit" name="do_it" value="Ta bort book från biblioteket">
    </form>
</main>
{% endblock %}