{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="library">
    <fig class="book">
    
        <img src="{{ cover }}" alt="book cover">
    </fig>
   
    <h4 class="bookTitle">{{ title }}</h4>
    <p class="isbn">{{ isbn }}</p>
    <p class="author">{{ author }}</p>
        
</main>
{% endblock %}