{% extends "base.project.html.twig" %}

{% block title %}Project MVC VT24{% endblock %}

{% block body %}
<main class="main project">
    <header class="headerMe">
        <h2>Om MVC projekt</h2>
    </header>
    <p>
        Här ska jag skriva om projectet
    </p>
    
</main>
{% endblock %}